/* Default CSS */
 body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
   font-family: 'Mulish', sans-serif;
}
body{
  overflow: hidden;
}
html{
  overflow-x: hidden !important;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}
h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}
ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
span{
  color: #30BCED;
}
h1{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  color: #282356;
}
h2{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 45px;
  color: #282356;
}
h3{
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  color: #30BCED;
}
h4{
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}
p{
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #282356;
}
.btn_style_1{
  background: #282356;
  display: inline-block;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF !important;
  padding: 15px 30px 15px 41px !important;
  border-radius: 100px;
}
.btn_style_1:hover{
  color:#FFF;
}
/*=============== Start Header Area Css 
=================================================*/
.header_area {
  padding: 15px 0;
}
.logo_login_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 11px 13px 11px 47px;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(40, 35, 86, 0.08);
  border-radius: 39px;
}
.login ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login ul li a{
  display: inline-block;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #30BCED;
  padding:0 15px;
}
.login ul li:first-child a{
  margin-right:35px;
}
.login ul li a i {
  border: 1px solid #959191;
  color: #3FA9F5;
  padding: 5px;
  margin-left: 5px;
  font-size: 9px;
  border-radius: 5px;
}
/*-------------- mobile menu css 
--------------------------------------*/
.mobile_menu{
  display: none;
}
.all_p_humber{
  width:30px;
  height:18px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor:pointer;
  z-index:99;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.all_p_humber span {
  width: 30px;
  height: 3px;
  background: #273E44;
  display: block;
  position: absolute;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition:.25s ease-in-out;
  border-radius:0;
  left:0;
}
.all_p_humber span:nth-child(1){
  top: 0px;
}
.all_p_humber span:nth-child(2),
.all_p_humber span:nth-child(3){
  top:8px;
}
.all_p_humber span:nth-child(4){
  top:16px;
}

.all_p_humber.open span:nth-child(1){
  top:18px;
  width:0%;
  left:50%;
}
.all_p_humber.open span:nth-child(2){
  -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
}
.all_p_humber.open span:nth-child(3){
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.all_p_humber.open span:nth-child(4){
  top:18px;
  width:0%;
  left:50%;
}
/*=============== Start Banner Area Css 
=================================================*/
.banner_main_area {
  padding: 80px 0;
}
.banner_area_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner_left_item h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
}
.banner_left_item p {
  max-width: 350px;
}
.banner_left_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.banner_left_item p {
  padding: 15px 0;
}
.banner_left_item_bottom a {
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: #30BCED;
  padding: 9px 0;
  display: inline-block;
}
.banner_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner_btn1{
  margin-right:5px;
}
.banner_btn1,
.banner_btn2{
  background: #EAF8FD;
  padding: 12px 25px;
  border-radius: 100px;
}
.banner_left_item_bottom {
  padding: 10px 0 0 55px;
}
/*------------------- banner rihgt area css
--------------------------------------------------------*/
.banner_right_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.banner_right_item img {
  width: 100%;
  height: auto;
  display: block;
}

/*=============== Start Site Area Css 
=================================================*/
.site_main_area {
  padding: 80px 0;
}
.site_main_area_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site_main_area_item {
  background: #EAF8FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.site_main_area_item_content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 73%;
          flex: 0 0 73%;
}
.site_main_area_item_icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  text-align: center;
  position: relative;
  right: -58px;
  border-radius: 175px;
}
.site_main_area_item_icon_img {
  width: 80px;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(10, 33, 95, 0.2);
  border-radius: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site_main_area_item_content h3 {
  border-bottom: 1px solid #dde1f4;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.site_main_area_item_icon_img img {
  width: 100%;
  max-width: 35px;
}
.site_main_area_item_content p {
  font-size: 14px;
}
/*=============== Start Great_life Area Css 
=================================================*/
.great_life_area {
  padding: 100px 0;
}
.great_life_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.great_life_left_items h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}
.great_life_left_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.great_life_left_items_btn {
  margin-top: 20px;
}
.bottom{
  padding-bottom: 10px;
  border-bottom: 1px solid #30BCED;
}
.great_life_left_items_btn a {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #30BCED;
}
/*--------- great_life right items css 
---------------------------------------------------*/
.great_life_right_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.grat_life_right_item img{
  width:100%;
}
.grat_life_right_item {
  padding-left: 50px;
}
/*=============== Start Nosh_user Area Css 
=================================================*/
.nosh_user_area {
  padding: 50px 0 20px 0;
}
.nosh_user_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nosh_user_left_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.nosh_user_left_item img {
  width: 100%;
}
.nosh_user_left_item {
  padding-right: 50px;
}
/*-------------- nosh_user right items css 
---------------------------------------------------------*/
.nosh_user_right_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
}
.nosh_user_right_item p {
  padding: 10px 0;
  max-width:93%;
}
/*=============== Start Nosh_Business Area Css 
=================================================*/
.nosh_business_area {
  padding: 10px 0 100px 0;
}
.nosh_business_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nosh_business_left_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.nosh_business_left_item_btn {
  margin-top: 20px;
}
.nosh_business_left_item_btn a {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #30BCED;
}
.nosh_business_left_item p {
  padding: 10px 0;
  max-width:94%;
}
/*------------- nosh_business_right_items 
---------------------------------------------------*/
.nosh_business_right_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.nosh_business_right_item img {
  width: 100%;
}
.nosh_business_right_item{
  padding-left: 50px;
}

/*=============== Start Available Area Css 
=================================================*/
.available_area {
  padding: 50px 0 10px 0;
}
.avilable_items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.avilable_left_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.avilable_left_item img {
  width: 100%;
}
.avilable_left_item {
  padding-right: 50px;
}
/*------------ avilable_right_items 
------------------------------------------------- */
.avilable_right_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}
.avilable_right_items h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom:10px;
}
.avilable_right_item p {
  padding: 10px 0;
  max-width:87%;
}
/*=============== Start FAQ Area Css 
=================================================*/
.faq_area {
  padding: 80px 0 100px 0;
}
.faq_items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.faq_left_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.faq_left_items p {
  padding: 10px 0;
  max-width:93%;
}
.faq_left_items_btn {
  margin-top: 20px;
}
.faq_left_items_btn a {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #30BCED;
}
/*---------- faq_right_items
---------------------------------------*/
.faq_right_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.faq_right_item img {
  width: 100%;
}
.faq_right_item {
  padding-left: 50px;
}
/*=============== Start Prefer Area Css 
=================================================*/
.prefer_area {
  background: #1C1840;
  padding: 100px 0;
}
.prefer_title {
  text-align: center;
  margin-bottom: 30px;
}
.prefer_table_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom:10px;
}
.prefer_table_title1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  text-align: right;
  margin-right: 18%;
}
.prefer_table_title2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.prefer_table table{
  width:100%;
  border-collapse: collapse;
}
.prefer_table table,th,td{
  border:1px solid #30BCED;
  padding:10px 0;
}
.prefer_table table,th,td{
  border-right-width:0;
  border-left-width:0;
}
.prefer_table table,td{
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.prefer_table table,th{
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #30BCED;
}
/*=============== Start Footer Area Css 
=================================================*/
/*----- footer top items css ------*/
.footer_top_area {
  padding: 100px 0;
}
.footer_top_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 85px;
  background: #EAF8FD;
  box-shadow: 0px 5px 5px 4px #F4F4F6;
}
.footer_top_left_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
}
.footer_top_right_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-left: 3%;
}
.footer_top_right_item_image {
  text-align: center;
  position: relative;
  top: -34px;
}
.footer_top_right_item_image img {
  width: 100%;
  max-width: 400px;
}
.footer_top_left_items p {
  padding: 17px 0;
}
.footer_top_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_top_btn1{
  margin-right:5px;
}
.footer_top_btn1,
.footer_top_btn2{
  background: #FFF;
  padding: 12px 25px;
  border-radius: 100px;
}
/*------ footer middle items css ----------*/
.footer_middle_area {
  border-bottom: 1px solid #EAF8FD;
  padding: 25px 0;
}
.footer_middle_left_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}
.footer_middle_right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer_middle_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_middle_right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_middle_right_item1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_middle_right_item1 ul li a{
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #282356;
  display: inline-block;
  padding: 0 10px;
}
.footer_middle_right_item1 ul li:last-child a{
  color:#30BCED;
}
.footer_middle_right_item1 ul li:after{
  content: '|';
}
.footer_middle_right_item1 ul li:nth-child(2):after{
  color:#30BCED;
}
.footer_middle_right_item1 ul li:nth-child(3):after{
  content: '';
}
.footer_middle_right_item2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_middle_right_item2 ul li{
  margin-right: 5px;
}
.footer_middle_right_item2 ul li:last-child{
  margin-right:0;
}
.footer_middle_right_item2 ul li a i {
  width: 30px;
  height: 30px;
  background: #30BCED;
  text-align: center;
  border-radius: 50%;
  color: #FFF;
  line-height: 30px;
}
/*------- footer bottom items css --------*/
.footer_bottom_item1 p {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #282356;
  text-align: center;
}
.footer_bottom_area {
  padding: 30px 0px;
}
.footer_bottom_item2 p {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #30BCED;
  text-align: center;
  padding: 37px 0;
}